# Ignore everything by default
/*

!Unit00
!Unit01
!Unit02
!Unit03
!Unit04
!Unit05
!Unit06
!Unit07
!Unit08
!Unit09
!Unit10
!Unit11
!Unit12
!Unit13
!Unit14
!Unit15

# Ignore large model files
Unit15/outputs/P4_Unit15_Example_Mining/models/example_rf_model.joblib

# Ignore heavy data and outputs in Unit15 (keep files locally)
Unit15/data/
Unit15/outputs/

# Also track .gitignore itself
!.gitignore

# Temporarily ignore homework files
/*/Unit*_Homework.ipynb
/*/Unit*_Practice_ANS.ipynb
!/README.md